fastapi==0.81.0
orjson==3.7.7
aioredis==2.0
elasticsearch[async]==7.9.1
pydantic==1.9.0
uvicorn==0.18.3
uvloop==0.16.0
fastapi-cache2==0.1.6
backoff==2.1.2
celery==5.2.7
flower==1.2.0
Jinja2==3.1.2
pytest==7.1.2
requests==2.25.1
python-multipart
python-dotenv
redis==4.3.4
scikit-learn
docx2txt==0.8
dopamine-rl==1.0.5
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
kiwisolver==1.4.4
korean-lunar-calendar==0.2.1
pymorphy2
aiofiles